body {
    color: red;
}
h1{
    color: red;
    text-align: center;
}

li{
    display: inline;
    background-color: ghostwhite;
}

li a:hover {
    background-color: blanchedalmond;
}

.Sidebar {
    float: left;
    background: red;
    left: 0; 
    right: 0;
    width: 178px;
}
header{
    text-align: center;
    width: 100%;
}
image{
    text-align: center;
    width: 100%;
}
footer{
    text-align: center;
}