table {
    border: 1px solid black;
    border-collapse: collapse;
}


th {
    border: 1px solid black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    color: black;
    text-align: center;  
    vertical-align: middle;
    font-size: 110%;
}
td {
    border: 1px solid black;
    padding: .2em .5em .2em .5em;
    vertical-align: middle;
    text-align: center;
}
h2 {
    font-size: 190%;
    margin: 0;
    padding: .25em 0 .5em;
    text-shadow: 2px 2px 4px #999999;
}

#td1 {
    font-weight: bold;
    text-align: left;
    padding: .2em .5em .2em .5em;
}

#td2 {
    text-align: left;
    padding: .2em .5em .2em .5em;
}
tr:nth-child(odd) {
    background: gray;
}

#tdfirst {
    font-size: 130%;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    padding: .8em .5em .8em .5em;
}
